{% extends 'base.html.twig' %}



{% block list %}


    <head>
        <title>Tutorials</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script src="/js/bootstrap.min.js"></script>
    </head>
<body>

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-3" style="background-color:lightskyblue;">

            <div class="well well-lg"><a href="/list/PLlb7e2G7aSpTTNp7HBYzCBByaE1h54ruW">Python</a></div>
            <div class="well well-lg"><a href="/list/PLlb7e2G7aSpQutUr7qYIunvm04cqdr5mx">Algorithms</a></div>
            <div class="well well-lg"><a href="/list/PLlb7e2G7aSpRSBWi5jbGjIe-v_CjRO_Ug">JAVA</a></div>
            <div class="well well-lg"><a href="/list/PLlb7e2G7aSpQJpe8sWD2kIQ51Lx74H2FH">C++</a></div>

        </div>
        <div class="col-sm-3" style="background-color:darkgrey;">



            <p>VIDEO</p>


        </div>

        <div class="col-sm-3" style="background-color:darkgrey;">



            <p>VIDEO</p>

        </div>


        <div class="col-sm-3" style="background-color:darkgrey;">



            <p>VIDEO</p>


        </div>



    </div>
</div>




    {#<div class="well well-lg"><a href="/list/PLlb7e2G7aSpTTNp7HBYzCBByaE1h54ruW">Python</a></div>#}
    {#<div class="well well-lg"><a href="/list/PLlb7e2G7aSpQutUr7qYIunvm04cqdr5mx">Algorithms</a></div>#}
    {#<div class="well well-lg"><a href="/list/PLlb7e2G7aSpRSBWi5jbGjIe-v_CjRO_Ug">JAVA</a></div>#}
    {#<div class="well well-lg"><a href="/list/PLlb7e2G7aSpQJpe8sWD2kIQ51Lx74H2FH">C++</a></div>#}

</body>


{% endblock %}