<html lang="en">
<head>
    <title>Tutorials</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <style>
        .container {
            position: relative;
            text-align: center;
            color: white;
        }

        .bottom-left {
            position: absolute;
            bottom: 8px;
            left: 16px;
        }

        .top-left {
            position: absolute;
            top: 8px;
            left: 16px;
        }

        .top-right {
            position: absolute;
            top: 8px;
            right: 16px;
        }

        .bottom-right {
            position: absolute;
            bottom: 8px;
            right: 16px;
        }

        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>


</head>



<body>
<nav class="navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">LamaTutor</a>

        <ul class="nav navbar-nav">
            <li class="active"><a href="/start">Home</a></li>
            <li class="active"><a class="nav-link" href="/randomList">random</a></li>
            <li class="active"><a class="nav-link" href="/autocat">video catalog</a></li>
            <li class="active"><a class="nav-link" href="/video">upload catalog</a></li>
            <li class="active"><a class="nav-link" href="/name">play list's</a></li>
            {#<li class="active"><a class="nav-link" href="/search">search</a></li>#}
        </ul>
    </div>
    </div>
</nav>


{% block player %}
{% endblock %}
{% block namesList %}
{% endblock %}
{% block catalog %}
{% endblock %}
{% block search %}
{% endblock %}
{% block list %}
{% endblock %}
{% block about %}
{% endblock %}




</body>
</html>




